.fluid-container
  - model_class = Task
  .page-header
    %h1=t 'List_of_tasks', :default => model_class.model_name.human.pluralize.titleize

  .row.form-group
    .col-xs-3.col-sm-3
      - if can? :create, Task
        = link_to new_task_path, :class => 'btn btn-primary', remote: true do
          %span.glyphicon.glyphicon-plus{'aria-label' => "#{t('Create_task')}"}
          %span.hidden-xxs
            = t('Create_task')

    .col-xxs-9.col-xxs-push-0.col-xs-6.col-xs-push-3.col-sm-5.col-sm-push-4.col-md-4.col-md-push-5
      = form_tag tasks_path, method: :get, formats: :js, class: 'navbar-form margin-zero padding-zero margin-zero pull-right' do |f|
        .input-group
          = text_field_tag "search", params[:search], placeholder: t("Search"), class: "form-control"
          .input-group-btn
            %button.btn.btn-default
              %span.glyphicon.glyphicon-search

    .col-xs-12.col-sm-12.col-md-5.col-md-pull-4.text-center
      = link_to tasks_path, class: "btn btn-default #{'btn-xs' if params[:state]}" do
        = t("All")
      - Task.states_names.each do |state_name|
        = precede ' ' do
          = link_to tasks_path(state: state_name), class: "btn btn-#{state_name} #{'btn-xs' if params[:state] != state_name.to_s}" do
            = t("task.states_names.#{state_name}")


.tasks
  %small.text-muted.text-center.hidden-xxs
    .row
      %em.col-xs-12
        .col-xs-1.padding-zero= model_class.human_attribute_name(:author)
        .col-xs-10
          .col-xs-3.text-left
            = model_class.human_attribute_name(:task)
          .col-xs-9
            .col-xs-4= model_class.human_attribute_name(:created_at)
            .col-xs-4= model_class.human_attribute_name(:started_at)
            .col-xs-4= model_class.human_attribute_name(:finished_at)
        .col-xs-1.padding-zero
          .pull-right.hidden-xs
            = model_class.human_attribute_name(:executor)
          .pull-right.visible-xs
            = model_class.human_attribute_name(:exectr)
-if true
  - if @tasks.count.zero?
    .well.text-center.bg-info= t('Tasks not found')
  - @tasks.each do |task|
    = render 'task', task: task

  = paginate @tasks, remote: false
